# API Base URL
# For development: https://a-postx-delobytes-app-backend-47aa.twc1.net
# For test environment: https://api.test.delobytes.ru
# For production: https://api.app.delobytes.ru
VITE_API_URL=https://a-postx-delobytes-app-backend-47aa.twc1.net
